# FINAL PROJECT

<h2>Created by</h2>
<h3>Krystian Potępa</h3>
<h3>136100</h3>

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import cx_Oracle

| Column | Description |
| :--- | :--- |
| `Numer` | The name of the pokemon |
| `Typ_1` | The type of the pokemon we will use |
| `Typ_2` | Later generations were using dual types, we won't be using this here |
| `Total` | The sum of all stat columns |
| `HP`, `Atak`, `Obrona`, `Sp_Atk`, `Sp_Obr`, `Speed` | Pokemon stats |
| `Generation` | When was this pokemon introduced |
| `Legendary` | Is the pokemon a Legendary pokemon |

In [2]:
pokemon = pd.read_csv('pokemon.csv', index_col="Numer")

pokemon.sample(10)

,Nazwa,Typ_1,Typ_2,Total,HP,Atak,Obrona,Sp_Atk,Sp_Obr,Speed,Generation,Legendary
Numer,,,,,,,,,,,,
110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
586,Sawsbuck,Normal,Grass,475,80,100,70,60,70,95,5,False
717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
506,Lillipup,Normal,NaN,275,45,60,45,25,45,55,5,False
601,Klinklang,Steel,NaN,520,60,100,115,70,85,90,5,False

In [3]:
lib_dir = r"C:\Users\KrystianPC\Desktop\plikiDLL" #Potrzebne biblioteki do cx_Oracle
#https://drive.google.com/file/d/1WjzlgHRjVw4CEvkIW0icZB5HnUpBGq1W/view?usp=sharing - do pobrania, bo nie mieszczą się na gicie
try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err);
    sys.exit(1);

In [4]:
%run connection.ipynb

Łączenie z bazą
Połączono

In [5]:
c.execute('select * from POKEMON')

1 - Bulbasaur - Grass - Poison
2 - Ivysaur - Grass - Poison
3 - Venusaur - Grass - Poison