# FINAL PROJECT

<h2>Created by</h2>
<h3>Krystian Potępa</h3>
<h3>136100</h3>

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import cx_Oracle

| Column | Description |
| :--- | :--- |
| `Numer` | The name of the pokemon |
| `Typ_1` | The type of the pokemon we will use |
| `Typ_2` | Later generations were using dual types, we won't be using this here |
| `Total` | The sum of all stat columns |
| `HP`, `Atak`, `Obrona`, `Sp_Atk`, `Sp_Obr`, `Speed` | Pokemon stats |
| `Generation` | When was this pokemon introduced |
| `Legendary` | Is the pokemon a Legendary pokemon |

In [2]:
data = pd.read_csv('pokemon.csv')
df = pd.DataFrame(data, columns= ['Numer','Nazwa','Typ1','Typ2','Total','HP','Atak','Obrona','SpAtk','SpObr','Speed','Generation','Legendary'])
print(df)

     Numer                  Nazwa  Typ1  Typ2  Total  HP  Atak  Obrona  SpAtk  \
0        1              Bulbasaur   NaN   NaN    318  45    49      49    NaN
1        2                Ivysaur   NaN   NaN    405  60    62      63    NaN
2        3               Venusaur   NaN   NaN    525  80    82      83    NaN
3        3  VenusaurMega Venusaur   NaN   NaN    625  80   100     123    NaN
4        4             Charmander   NaN   NaN    309  39    52      43    NaN
..     ...                    ...   ...   ...    ...  ..   ...     ...    ...
795    719                Diancie   NaN   NaN    600  50   100     150    NaN
796    719    DiancieMega Diancie   NaN   NaN    700  50   160     110    NaN
797    720    HoopaHoopa Confined   NaN   NaN    600  80   110      60    NaN
798    720     HoopaHoopa Unbound   NaN   NaN    680  80   160      60    NaN
799    721              Volcanion   NaN   NaN    600  80   110     120    NaN

     SpObr  Speed  Generation  Legendary
0      NaN     45           1      False
1      NaN     60           1      False
2      NaN     80           1      False
3      NaN     80           1      False
4      NaN     65           1      False
..     ...    ...         ...        ...
795    NaN     50           6       True
796    NaN    110           6       True
797    NaN     70           6       True
798    NaN     80           6       True
799    NaN     70           6       True

[800 rows x 13 columns]

In [3]:
lib_dir = r"C:\Users\KrystianPC\Desktop\plikiDLL" #Potrzebne biblioteki do cx_Oracle
#https://drive.google.com/file/d/1WjzlgHRjVw4CEvkIW0icZB5HnUpBGq1W/view?usp=sharing - do pobrania, bo nie mieszczą się na gicie
try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err);
    sys.exit(1);

In [4]:
#%run connection.ipynb
dsn_tns = cx_Oracle.makedsn('213.184.8.44', '1521', service_name='orac')
conn = cx_Oracle.connect(user=r'potepa', password='ludzik96', dsn=dsn_tns)
c = conn.cursor()
print ('Połączono')

Połączono

In [5]:
#c.execute('select * from POKEMON')

In [6]:
c.execute("BEGIN EXECUTE IMMEDIATE 'DROP TABLE POKEMON'; EXCEPTION WHEN OTHERS THEN NULL; END;")

#Usuwanie tabeli, jeżeli istnieje

In [7]:
c.execute("Create TABLE pokemon(Numer int primary key,Nazwa varchar(50),Typ1 varchar(50),Typ2 varchar(50),Total int,HP int,Atak int ,Obrona int,SpAtk int ,SpObr int,Speed int ,Generation int ,Legendary varchar(50))")

In [8]:
for row in df.itertuples():
    c.execute('''
                INSERT INTO BazyiZrodlaDanych.POKEMON (Numer,Nazwa,Typ1,Typ2,Total,HP,Atak,Obrona,SpAtk,SpObr,Speed,Generation,Legendary)
                VALUES (?,?)
                ''',
                (row.Numer, 
                row.Nazwa,
                row.Typ1,
                row.Typ2,
                row.Total,
                row.HP,
                row.Atak,
                row.Obrona,
                row.SpAtk,
                row.SpObr,
                row.Speed,
                row.Generation,
                row.Legendary
                )
                )
conn.commit()

DatabaseError: ORA-01036: illegal variable name/number

In [ ]:
c.execute("select * from POKEMON order by Numer")
for pokemons in c.fetchall():
        print(pokemons)

In [ ]:
c.close()
conn.close()