# FINAL PROJECT

<h2>Created by</h2>
<h3>Krystian Potępa</h3>
<h3>136100</h3>

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import cx_Oracle

| Column | Description |
| :--- | :--- |
| `Numer` | The name of the pokemon |
| `Typ_1` | The type of the pokemon we will use |
| `Typ_2` | Later generations were using dual types, we won't be using this here |
| `Total` | The sum of all stat columns |
| `HP`, `Atak`, `Obrona`, `Sp_Atk`, `Sp_Obr`, `Speed` | Pokemon stats |
| `Generation` | When was this pokemon introduced |
| `Legendary` | Is the pokemon a Legendary pokemon |

In [2]:
data = pd.read_csv('pokemon.csv', delimiter= ',')
df = pd.DataFrame(data, columns= ['Numer','Nazwa','Typ','Generation','Legendary'])
print(df)

     Numer                  Nazwa  Typ  Generation  Legendary
0        1              Bulbasaur  NaN           1      False
1        2                Ivysaur  NaN           1      False
2        3               Venusaur  NaN           1      False
3        3  VenusaurMega Venusaur  NaN           1      False
4        4             Charmander  NaN           1      False
..     ...                    ...  ...         ...        ...
795    719                Diancie  NaN           6       True
796    719    DiancieMega Diancie  NaN           6       True
797    720    HoopaHoopa Confined  NaN           6       True
798    720     HoopaHoopa Unbound  NaN           6       True
799    721              Volcanion  NaN           6       True

[800 rows x 5 columns]

In [3]:
lib_dir = r"C:\Users\KrystianPC\Desktop\plikiDLL" #Potrzebne biblioteki do cx_Oracle
#https://drive.google.com/file/d/1WjzlgHRjVw4CEvkIW0icZB5HnUpBGq1W/view?usp=sharing - do pobrania, bo nie mieszczą się na gicie
try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err);
    sys.exit(1);

In [4]:
%run connection.ipynb

Łączenie z bazą
Połączono

In [5]:
#c.execute('select * from POKEMON')

In [6]:
c.execute("BEGIN EXECUTE IMMEDIATE 'DROP TABLE POKEMON'; EXCEPTION WHEN OTHERS THEN NULL; END;")

#Usuwanie tabeli, jeżeli istnieje

In [7]:
c.execute("Create TABLE pokemon(Numer int,Nazwa varchar(50),Typ varchar(50),Generation int ,Legendary varchar(50))")

In [8]:
for row in df.itertuples():
    c.execute('''
                INSERT INTO POKEMON (Numer,Nazwa,Typ,Generation,Legendary)
                VALUES (?,?)
                ''',
                (
                Numer, 
                Nazwa,
                Typ,
                Generation,
                Legendary
                )
                )
                
conn.commit()

NameError: name 'Numer' is not defined

In [ ]:
c.execute("select * from POKEMON order by Numer")
for pokemons in c.fetchall():
        print(pokemons)

In [ ]:
c.close()
conn.close()