# FINAL PROJECT

<h2>Created by</h2>
<h3>Krystian Potępa</h3>
<h3>136100</h3>

In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import cx_Oracle

| Column | Description |
| :--- | :--- |
| `Numer` | The name of the pokemon |
| `Typ_1` | The type of the pokemon we will use |
| `Typ_2` | Later generations were using dual types, we won't be using this here |
| `Total` | The sum of all stat columns |
| `HP`, `Atak`, `Obrona`, `Sp_Atk`, `Sp_Obr`, `Speed` | Pokemon stats |
| `Generation` | When was this pokemon introduced |
| `Legendary` | Is the pokemon a Legendary pokemon |

In [2]:
pokemon = pd.read_csv('pokemon.csv', index_col="Numer")

pokemon.sample(10)

,Nazwa,Typ_1,Typ_2,Total,HP,Atak,Obrona,Sp_Atk,Sp_Obr,Speed,Generation,Legendary
Numer,,,,,,,,,,,,
417,Pachirisu,Electric,NaN,405,60,45,70,45,90,95,4,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
305,Lairon,Steel,Rock,430,60,90,140,50,50,40,3,False
543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
366,Clamperl,Water,NaN,345,35,64,85,74,55,32,3,False
113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
587,Emolga,Electric,Flying,428,55,75,60,75,60,103,5,False
356,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,3,False

In [3]:
lib_dir = r"C:\Users\KrystianPC\Desktop\DataScienceProject\plikiDLL" #Potrzebne biblioteki do cx_Oracle
try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err);
    sys.exit(1);

In [4]:
%run connection.ipynb

Łączenie z bazą
Połączono

In [13]:
c.execute('select * from POKEMON')
for row in c:
    print (row[0], '-', row[1], '-', row[2], '-', row[3])

1 - Bulbasaur - Grass - Poison
2 - Ivysaur - Grass - Poison
3 - Venusaur - Grass - Poison